/* photo css */

/* album_list.html */
div.album-list {
  margin:20px 30px;
}

div.clear_float h2 {
  font-size: 30px;
}

div.album-list-photo {
  float: left;
  width: 140px;
  height: 180px;
}


/* album_detail.html */
div.album-detail {
  margin: 20px 30px;
}

div.album-detail h2 {
  font-size: 50px;
}

div.album-detail-photo {
  float: left;
  width: 140px;
  height: 180px;
}

div.album-detail-photo > li {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}


/* photo_detail.html */
table.photo-detail {
  margin: 20px 50px 0 50px;
  border: 2px solid #ccc;
  padding: 20px 20px;
}

table.photo-detail td {
  width: 60%;
}

table.photo-detail ul li {
  font-weight: bold;
  font-size: 23px;
}

table.photo-detail ul p {
  font-style: italic;
}

/* common */
img.thumbnail {
  border: 3px solid #fca;
}

div.clear_float {
  clear: both;
}
