<!DOCTYPE html>
<html lang='ko'>

<head>
<title>{% block title %}{% endblock %}</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />

</head>

<body>

  <div id="header">
    <h2 class="maintitle"><a href="{% url 'home' %}">PYTAGRAM</a></h2>

    {% if user.is_active %}
    <h4 class="welcome">Welcome,
      <strong>{% firstof user.get_short_name user.get_username %}</strong> /
      <a href="{% url 'password_change' %}">Change Password</a> /
      <a href="{% url 'logout' %}">Logout</a>
    </h4>

    {% else %}
    <h4 class="welcome">Welcome, Guest! /
      <a href="{% url 'login' %}">Log-in</a> /
      <a href="{% url 'register' %}">Register</a>
    </h4>
    {% endif %}

  </div>


  <div id="menu">
    <h3><a href="{% url 'photo:index' %}">Photo</a></h3>

    <div id="menu_1">
      <h3><a href="#menu_1">Add_content</a></h3>
      <p><a href="{% url 'photo:album_add' %}">Album</a></p>
      <p><a href="{% url 'photo:photo_add' %}">Photo</a></p>
    </div>

    <div id="menu_2">
      <h3><a href="#menu_2">Change_content</a></h3>
      <p><a href="{% url 'photo:album_change' %}">Album</a></p>
      <p><a href="{% url 'photo:photo_change' %}">Photo</a></p>
    </div>

    <h3><a href="{% url 'admin:index' %}">Admin</a></h3>

  </div>


{% block content %}{% endblock %}

{% block footer %}
  <div id="footer">
    &copy; WYChoi 2018
  </div>
{% endblock %}

</body>

</html>
