{% extends "base.html" %}

{% block title %}Pytagram{% endblock %}

{% load staticfiles %}
{% block content %}
<div id="content">
  <a href="{% url 'photo:index' %}"><img src = "{% static "img/kground.jpg" %}", style='width:70%'></a>
  <h1><font-style=italic>Welcome to Pytagram!</font-style></h1>

  <ul>

  <li><h3><a href="{% url 'photo:photo_add' %}"> Upload Your Picture </a></h3></li>
  <li><h3><a href="{% url 'photo:index' %}"> Check your Picture </a></h3></li>
  <li><h3><a href="http://blog.naver.com/isac31">Go to Wooyong's blog</a></h3></li>

  </ul>
</div>
{% endblock content %}
